.page input[type = "color"] {
    border: none;
    padding: 0px;
    width: 30px;
    aspect-ratio: 1;
    background: none;
}

.page input[type = "text"] {
    background: white;
    border: none;
    height: 30px;
}

.page>p {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}
