.card {
    width: 400px;
}

.card>h1 {
    text-wrap: wrap;
}
.coverart {
    width: 400px;
    aspect-ratio: 2 / 1;
    background-position: center center;
    background-size: cover;
}

.status {
    display: flex;
    background: #424242;
}

.status>select {
    border: none;
    background: #424242;
    flex-grow: 2;
}

.status::before {
    content: "";
    display: block;
    aspect-ratio: 1;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: var(--dot-color);
}
