.new {
    margin: 30px;
}

.list {
    background: var(--background-transparent);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 1px;
}

.list span {
    margin-left: 20px;
}

.list input {
    background: none !important;
}

.list input::before {
    display: block;
    content: "asdjk" !important;
}

.title {
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 20px !important;
    margin-left: 0px !important;
}

.list a {
    font-size: 1.2em;
    height: min-content;
    margin-left: 20px;
    color: white;
}

.new input {
    background: #77777788 !important;
}

