.card {
    background: #161616;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card>div {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card>div>* {
    margin: 10px;
}
