.card {
    background: var(--background-transparent);
    border-radius: 10px;
    margin: 0px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;
}

.card>div {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card p {
    margin: 0px;
    color: #aaa;
}
