.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: min-content;
    margin: auto;
}

.page>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.page h1 {
    margin-bottom: 0px;
}
