.navigation {
    display: flex;
    width: 100%;
    gap: 50px;
}

.navigation>* {
    flex-grow: 1;
    margin-bottom: 50px;
}

.navigation button {
    width: 100%;
    background: #323232;
    color: white;
    font-size: 1em;
    height: 60px;
    margin: 0px;
}

.navigation button.active {
    background: var(--accent);
}
